{% extends "base.html" %}
{% block content %}
    <h1>Hello, {{ current_user.username }}</h1>
    <p><a href="{{ url_for('profile', username=current_user.username) }}">Profile</a></p>
{#    for loop#}
    {% for post in post %}
    <div>
        <p>
            {{ post.author.username }} says <b>{{ post.body }}</b>
        </p>
    </div>
    {% endfor %}
{% endblock %}




{#    <table border="1">
        <thead>
            <tr>
                <th>name</th>
                <th>age</th>
            </tr>
        </thead>
        <tbody>
        #}{# for loop #}{#
            {% for row in rows %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.age }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>#}

